.cabecera{
    margin: 0 25%;
    border-bottom: 2px solid #FF7F3E99;
    border-radius: 5px;
    padding-bottom: 5px;
}

.cajaInterna{
    background-color:transparent;
    padding: 0 2% 0 2%;
    margin: auto 0 0 0;
}

.nombre h1{
    font-family: Montserrat;
    padding: 20px 40px 10px 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: auto;
    color:#003285;
}

.subtitulo h2{
    text-align: center;
    color: #2A629A;
    margin-top: 5px;
}

.menu{
    align-items: center;
    padding: 0;
    width: auto;
    height: px;
    display: block;
    justify-content: center;
    margin-top: 0;

}

.menuprincipal{
    margin: 0 25%;
    padding-top: 50px;
    
}
.pestanas{
    display: flex;
    align-items: right !important;
    list-style: none;
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    font-size: auto;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.actual{
    font-weight: 900;
    color: #2A629A;

}

.menu li{
    margin: auto;
    position: relative;
    padding: auto;
}

.menu a{
    outline: none;
    text-decoration: none;
    color: #2A629A;
    text-wrap: none;
}

.menu a:visited :hover {
    color: #2A629A;
    text-decoration: none ;
}

/*Main*/

.algoSobreMi{
    margin: 100px 25% 0 25%;
    border-bottom: 2px solid #FF7F3E99;
    display: flex;
}

.algoSobreMi img{
    width: 300px;
    margin: 50px;
    box-shadow: 0 0 20px 0 #0001;
}

.texto h2{
    font-family: Montserrat;
    font-weight: 800;
    padding-left: 50px;
    color:#003285;
}

.texto p{
    font-family: Montserrat;
    padding: 40px 80px 60px 40px;
    line-height: 1.15;
}

/*FOOTER*/

.pie{
    margin: 0 25%;
    background-color: #FFDA78;
    padding-top: 20px;
    padding-bottom: 5px;
}

.contacto h3{
    font-family: Montserrat;
    padding: 0 100px;
}

.contacto ul{
    font-family: Montserrat;
    list-style: none;
    margin: 0;
    padding: 0 200px;
    box-sizing: border-box;
    font-size: auto;
    font-weight: 500;
    text-decoration: none;
}

.derechos{
    margin: 50px 0;
    background-color: #FFDA78bb;
}

.derechos p{
    text-align: center;
}
